.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr ;
    align-items: center;
    gap: 30px;
    font-size: 13px;
    padding: 7px 16px;
    color: brown;
    border: 2px solid tomato;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 20px;

}
.order-item img{
    width:130px;
    height: 130px;
}
select{
    padding: 4px 8px;
    border: 1.8px solid green;
    border-radius: 6px ;
    background-color: tomato;
    color: wheat;
    cursor: pointer;

}
.amount{
    font-size: 16px;
    font-weight: 600;
    color: blue;
    gap: 6px;
}
.len{
    font-size: 15px;
    font-weight: 500;
    color: black;
    gap: 6px;
}
h3{
    font-size: 26px;
    color: tomato;
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin: 20px;
}
@media (max-width:320px){
    .order h3{
        font-size: 15px;
        font-weight: 600;
        color: tomato;
    }
    .order-item{
        display: grid;
        grid-template-columns: 0.01fr 0.2fr  ;
        align-items: center;
        gap: 8px;
        font-size: 8px;
        padding: 2px 4px;
        color: brown;
        border: 1px solid tomato;
        border-radius: 6px;
        margin-top: 10px;
        margin-left: 2px;
        
    
    }
    .order-item img{
        width: 45px;
        height: 45px;
    }
    select{
        padding: 4px 8px;
        border: 1.8px solid green;
        border-radius: 6px ;
        background-color: tomato;
        color: wheat;
        font-size: 6px;
        cursor: pointer;
    
    }
    .amount{
        font-size: 13px;
        font-weight: 500;
        color: blue;
        gap: 6px;
    }
    .len{
        font-size: 10px;
        font-weight: 500;
        color: black;
        gap: 6px;
    }
    
    .phone{
        margin-left: -39px;
    }
    .order-item-food{
        margin-left: -39px;
    }
    .order-item-name{
        margin-left: -39px;
   }
    .order-item-add{
        margin-left: -39px;
    }
}